@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-dark: #064e3b; /* emerald-900 */
  --color-brand-primary: #10b981; /* emerald-500 */
  --color-brand-light: #d1fae5; /* emerald-100 */
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}
