@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-adarco-dark: #064E3B;
  --color-adarco-primary: #10B981;
  --color-adarco-light: #D1FAE5;
  --color-adarco-soft: #F0FDF4;
}

@layer base {
  body {
    @apply font-sans bg-gray-50 text-gray-900;
  }
}
